@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #F6F6F4;
}


#one {
  top: calc(20vh + 0em);
  margin-bottom:17.25em ;
}

#two {
  top: calc(20vh + 5em);
  margin-bottom:11.25em ;
}

#three {
  top: calc(20vh + 10em);
  margin-bottom:5.25em ;
}


@font-face {
  font-family: 'Gilroy-black';
  src: url('../fonts/Gilroy-Black.ttf');
}

@font-face {
  font-family: 'Gilroy-reg';
  src: url('../fonts/Gilroy-Regular.ttf');
}